pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# target folders
target/

.settings/
.classpath
.project

# mac stuff
.DS_Store
.AppleDouble
.LSOverride


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

word2vec-index/

# subjective clues
mpqa_subjective_clues.tff
levins_subjective_clues.txt
framenet_subjective_clues.txt
